*{background-color:whitesmoke;

}
.register{display: flex;
    justify-content: center;
    align-items:center;}
.submit{background-color:darkgray ;
    color: white;}
.title{margin: 4px;
color: #002E96;font-weight: 600;}

.name{margin: 5px; background-color:darkgray;
}
.Date{margin: 5px; background-color:darkgray;}
.Email{margin: 5px;background-color: darkgray;}
.Enter{margin: 5px;background-color: darkgray;}
.Re-enter{margin: 5px;background-color:darkgray;}
.voter{margin:5px;background-color:darkgray;}

.box{background-color: darkgray;
margin: 0px;padding: 0px;}

button{background-color: #002E96;}